<!--
  Used for visualising rplidar in action.  
  
  It requires rplidar.launch.
 -->
<launch>
  <include file="$(find rplidar_ros)/launch/rplidar.launch" />

  <!-- added the leg tracker launch file here -->
  <include file="$(find leg_tracker)/launch/joint_leg_tracker.launch" />

  <!-- changed .riz default configuration file to one that had our topics visualized so we dont have to open each one every time -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rplidar_ros)/rviz/leg_tracker_params.rviz" />
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rplidar_ros)/rviz/rplidar.rviz" /> -->
</launch>
